table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.cal-int-el {
    font-size: 11px;
}

.footer-desc{
    font-size: 11px;
}

.result-element {
    background-color: #d6f8fd;
}

.result-element-secondary {
    background-color: #e4fbff;
}
.result-element-tertiary {
    background-color: #effdff;
}

mat-button-toggle-group {
    position: fixed;
}