<div>
    <mat-form-field appearance="fill">
        <mat-label>Cash Balance $</mat-label>
        <input matInput [(ngModel)]="balance">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Available For Payment $</mat-label>
        <input matInput [(ngModel)]="available" (keyup.enter)="calculate()" (change)="calculate()" type="number" min="0" step="500">
    </mat-form-field>
    <button mat-raised-button (click)="openEntryDialog()">Add</button>
    <!--<button mat-raised-button (click)="clearStorage()">Clear</button>-->
</div>

<!--<button mat-raised-button (click)="calculate()">Calculate</button>-->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="{{def.name}}" *ngFor="let def of displayedColumnDefs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{def.name}}">{{def.lable |
            uppercase}}</th>
        <td mat-cell *matCellDef="let element" [class.result-element]="def.name === 'newBalance'" [class.result-element-secondary]="def.name === 'newInterest'">
            <ng-container
                *ngIf="element[def.name] && element[def.name].substring ? element[def.name] : (element[def.name] | number: '1.2-2') ; let val;">
                {{def.append ? val + def.decorator : def.decorator + val}}
                <ng-container *ngIf="def.name === 'interestAmount' && element['interestRelPercent']">
                    <span class="cal-int-el">{{' (' + (element['interestRelPercent'] | percent: '1.2-2') + ')'}}</span>
                </ng-container>
                <ng-container *ngIf="def.name === 'payment' && element['paymentPercent']">
                    <span class="cal-int-el">{{' (' + (element['paymentPercent'] | percent: '1.2-2') + ')'}}</span>
                </ng-container>
            </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef><b>
                {{ def.name === 'name' ? 'TOTAL' :
                (def.aggType=== 'sum' ?
                (getTotal(def.name) | currency) :
                (def.aggType=== 'avg' ? (getTotal(def.name) | percent: '1.2-2') : ''))}}
            </b>
            <div class="footer-desc">&nbsp;
                <ng-template #rel let-relVal="relVal">
                    {{ relVal ? 'REL.' : ''}} {{ relVal | percent: '1.2-2'}}
                </ng-template>
                <ng-container *ngIf="def.name === 'payment'">
                    <ng-container *ngTemplateOutlet="rel; context: { relVal: getTotal(def.name)/getTotal('balance')}">
                    </ng-container>
                </ng-container>
                <ng-template #newInt let-newIntTotal="newIntTotal" let-newIntRelPer="newIntRelPer">
                    {{ newIntTotal ? ((newIntTotal | currency) + ' (' + (newIntRelPer | percent: '1.2-2')) + ')' : ''}}
                </ng-template>
                <ng-container *ngIf="def.name === 'newInterest'">
                    <ng-container *ngTemplateOutlet="newInt; context: { newIntTotal: getTotal(def.name)-getTotal('interestAmount'), newIntRelPer: (getTotal(def.name)-getTotal('interestAmount'))/getTotal('interestAmount')}">
                    </ng-container>
                </ng-container>
                {{def.aggType=== 'avg' ? '(' + (def.aggType | uppercase)+ ')' : ''}}
            </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="apply">
        <th mat-header-cell *matHeaderCellDef>APPLY</th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.apply" (change)="onApplyToggle(element, $event)"></mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estimated interest">
        <th mat-header-cell *matHeaderCellDef>Est. Interest</th>
        <td mat-cell *matCellDef="let element">
            {{getMonthlyInterest(element) | currency}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editCol(element)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="removeCol(element)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithAction"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithAction"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumnsWithAction"></tr>
</table>